header {
    background-color: #ffffff;
    margin-bottom: #777777 2px;
    width: 100%;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    width: 960px;
    background: url("../images/concrete_seamless.png");
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    /* position: relative;
    left: 220px;  */
}

.main {
    background-color: #ffffff;
    border: #777777 100px;
    padding: 20px;

}

.form {
    background-color: #ffffff;
    border: #777777 100px;
    padding: 20px;
}

h1
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #ffffff;
    background-color: #4aaaa5;
    border-color: #cccccc;
    border-bottom: 1px solid #777777;
    padding: 20px;
    width: 25%;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 25px;
    border-color: #cccccc;
    border-bottom: 2px solid #777777;
    
}

img {
    height: 200px;
    width: 200px;
    margin-right: 10px;
    float: left;
}

.clearfix {
    overflow: auto;
}

#aboutMeP {
    float: none;
}

.topnav {
    overflow: hidden;
    float: right;
    position: relative;
    bottom: 80px;
    width 100%;
    color: #777777;
}

.topnav a {
    padding: 14px 26px;
}


a:link {
    color: #777777;
    text-decoration: none;
}
a:visited {
    color: #777777;
    text-decoration: none;
}

a:hover {
    background-color: #4aaaa5;
}

.footer1 {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
        background-color: gray;
        color: white;
        text-align: center;
        z-index: 10;
}

.footer2 {
    position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        background-color: #44aaaa;
        color: white;
        text-align: center;
        z-index: 11;
}

.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  .work:nth-child(even) {
    margin-right: 40px;
  }
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
    margin-right: 10px;
    margin-left: 10px;
  }
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  @media (max-width: 640px) {
      .contactForm {
          font-size: 1.25rem;

      }
      .header {
          font-size: 1.25rem;
          overflow: visible;
          position: static;

      }
    
    p {
        font-size: 1.25rem;
        orientation: portrait;
    }
    .form {
        font-size: 1.25rem;
        orientation: portrait;
    }
    .topnav {
        font-size: 1.5rem;
        position: relative;
    }
    h1 {
        font-size: 1.25rem;
    }
    
    a {
        font-size: 1.25rem;
    }
    img {
        width: 100%;
        height: auto;
    }
  }

  @media (max-width: 768px) {
    .header {
        font-size: 1.5rem;
        overflow: visible;
      }
    p{
        font-size: 1.5rem;
    }
    .form {
        font-size: 1.5rem;
        orientation: portrait;
    }
    .topnav {
        font-size: 1.5rem;
        position: relative;
      
    }
    img {
        width: 100%;
        height: auto;
    }
  }

  @media (max-width: 980px) {
      .header {
          font-size: 1.75rem;
          overflow: visible;
          position: static;
      }
     
    p {
        font-size: 1.75rem;
    }
    .form {
        font-size: 1.75rem;
        orientation: portrait;
    }
    .topnav {
        font-size: 1.5rem;
        position: relative;
    }
    a {
        font-size: 1.75rem;
    }
    .work {
        width: 100%;
        height: 100%;
    }
    .profPic {
        width: unset;
    }
  }